.line-chart-container {
  display: flex;
  flex-direction: row;
  color: red;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  top: 0px;
  left: 0px;
  height: 45rem;
  width: 60vw;
  padding-top: 3rem;
  padding-left: 10rem;
}

.line-chart {

}
