.mainviewContainer {
  height: 90vh;
  width: 100vw;
  background-color: #ffffff;
 /* background-image: url('../../assets/chip-chipset-closeup-40879.jpg');
  background-size: cover;*/
}

.btn {
  margin: 1rem;
}

.chartContainertToLoad {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.chartStyle {
  width: 50%;
  height: auto;
}
