.mainviewContainer {
  height: 90vh;
  width: 100vw;
  background-color: #ffffff;
 /* background-image: url('../../assets/chip-chipset-closeup-40879.jpg');
  background-size: cover;*/
}

.btn {
  margin: 1rem;
}
