<div class="mainviewContainer">
  Predictive Value = {{predictiveValue}}
<br>
  computedPredictiveValue       Math.pow((x - (x * 0.4)), Math.exp(1)) = {{computedPredictiveValue}}

</div>


<button class="btn btn-outline-primary" (click)="ngOnInit()" style="position: absolute; top: 200px; left: 100px;">Get Prediction</button>
<app-line-chart-x-axis></app-line-chart-x-axis>
<app-line-chart-y-axis></app-line-chart-y-axis>
<app-line-chart-rundtisch></app-line-chart-rundtisch>

<div #chartTarget>
  chart target
  </div>

  <button (click)="onClick()">show it</button>


