<mat-toolbar color="basic">
  <button mat-button class="btn" (click)="chooseX()">Kartusche X</button>
  <button mat-button class="btn" (click)="chooseY()">Kartusche Y</button>
  <button mat-button class="btn" (click)="chooseR()">Kartusche R</button>
  <button mat-button class="btn" (click)="chooseAll()">Kartusche R</button>
</mat-toolbar>
<div #chartTarget>
  <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>
