.mainviewContainer {
  height: 90vh;
  width: 100vw;


 /* background-image: url('../../assets/chip-chipset-closeup-40879.jpg');
  background-size: cover;*/
}

.btn {
  margin: 1rem;
}
button{
background-color: darkgrey;

}
.chartContainertToLoad {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* justify-content: center; */
  align-items: center;

}

.chartStyle {
  width: 100%;
  height: auto;

}

