



<div class="chartContainertToLoad">
    <mat-toolbar color="basic">
        <button mat-button class="btn" (click)="chooseX()">Kartusche xAxis</button>
        <button mat-button class="btn" (click)="chooseY()">Kartusche yAxis</button>
        <button mat-button class="btn" (click)="chooseR()">Kartusche Rundtisch</button>
        <button mat-button class="btn" (click)="chooseAll()">Kartusche All</button>
    </mat-toolbar>
  <div class="chartStyle" #chartTarget>
    <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>
