.row-container {
  display: flex;
  flex-direction: row;
}

.rowItem {
  background-color: lightgray;
  width: 100%;
  margin-bottom: 1rem;
}

.titleBar{
  font-size: 1rem !important;
  background-color: gray;
  color: black;
  border: 1px solid black;
}


.contentBar{
  font-size: 0.9rem;
  color: steelblue;
}
.mainContainer {
}

.gaugeContainer {
  width: 30vw;
  height: 20vh;

}

.gauge-item {
  margin: 2rem;
}

.fullwidth {
  width: 100%;
  justify-content: space-evenly;
}
.line-chart-style{
  width: 25%;
  height:auto;
}

.main {
  width: 30vw;
  height: 20vh;
}
.buttonRaised {
  width: 14rem;
  height: 2.5rem;
  margin:0.5rem;
}
.item {
  margin: 0.5rem;
}

.ff {
  height: 90%;
}
input.timepicker {
  background-color: transparent;
  border: 0px solid;
}

.container-sub-top {
  position: relative;
  background-color: steelblue;
  top: 0px;
  left: 0px;
  padding-left: 2rem;
}

.container-charts {

  position: relative;
  background-color: rgba(0, 0, 0, 0);
  top: 0px;
  left: 0px;
  padding-top: 2rem;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.line-chart {

}

.gauge {
  margin: 1rem;
}

.table {
  color: black;
}


.bold-green-font {
  font-weight: bold;
  color: green;
}

.bold-font {
  font-weight: bold;
}

.right-text {
  text-align: right;
}

.large-font {
  font-size: 15px;
}

.italic-darkblue-font {
  font-style: italic;
  color: darkblue;
}

.italic-purple-font {
  font-style: italic;
  color: purple;
}

.underline-blue-font {
  text-decoration: underline;
  color: blue;
}

.gold-border {
  border: 3px solid gold;
}

.deeppink-border {
  border: 3px solid deeppink;
}

.orange-background {
  background-color: orange;
}

.orchid-background {
  background-color: orchid;
}

.beige-background {
  background-color: beige;
}


.colorborder{
  color: white;
  font-size:24px;
  text-align:center;
}
