<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row-container container-sub-top">
<mat-form-field class="item" >
    <mat-select placeholder="send Engineer" [(value)]="selected">
      <mat-option >None</mat-option>
      <mat-option *ngFor="let engineer of engineers" [value]="engineer">
        {{ engineer.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="item" >
    <mat-select placeholder="Kartusche" [(value)]="selectedKartusche">
        <mat-option [value]="1">Kartusche 1</mat-option>
        <mat-option [value]="2">Kartusche 2</mat-option>
        <mat-option [value]="3">Kartusche 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="item" >
      <div class="row-container">
      <input matInput [matDatepicker]="picker" date="true" time="true" placeholder="Choose a date" [(ngModel)]="myDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <input class="timepicker"atp-time-picker [(ngModel)]="timevalue"/>
      </div>

  </mat-form-field>
  <button mat-raised-button class="buttonRaised" color="primary" *ngIf="selected" (click)="doMail(selected)">Kartusche wechseln</button>
</div>

<!--Charts-->
<!--<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile >
      Chart 1
      <google-chart [data]="lineChart"></google-chart>
    </mat-grid-tile>

    <mat-grid-tile >
      Chart 2
      <google-chart [data]="timelineChartData"></google-chart>
    </mat-grid-tile>


    <mat-grid-tile>
    <div class="column-container"> Chart 3
      <google-chart class="gauge" [data]="gaugeChartData"></google-chart>
      <google-chart class="gauge" [data]="gaugeChartData"></google-chart>
      </div>

      <div class="row-container container">
        <google-chart class="gauge" [data]="gaugeChartData"></google-chart>
        <google-chart class="gauge" [data]="gaugeChartData"></google-chart>
      </div>

      <div class="row-container container">
          <google-chart class="gauge" [data]="gaugeChartData"></google-chart>
          <google-chart class="gauge" [data]="gaugeChartData"></google-chart>
      </div>
    </mat-grid-tile>


</mat-grid-list>



<mat-grid-list cols="24" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>*-->

  <div class="mainContainer">
    <div class="row-container fullwidth">
      <div class="column-container">
        <div class="item colorborder">Schmierzeittpunkte</div>
        <div class="item colorborder"></div>
      </div>
      <div class="column-container">
          <div class="item colorborder">Füllstand über die Zeit</div>
          <div class="item colorborder"><mainview class="main"></mainview></div>
      </div>
      <div class="column-container">
          <div class="item colorborder">Füllstand</div>
          <div class="gaugeContainer">
            <app-s-gauge class="gauge-item"></app-s-gauge>
            <app-s-gauge class="gauge-item"></app-s-gauge>
            <app-s-gauge class="gauge-item"></app-s-gauge>
          </div>
      </div>
    </div>


  </div>


