
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row-container container-sub-top">
<mat-form-field class="item" >
    <mat-select placeholder="send Engineer" [(value)]="selected">
      <mat-option >None</mat-option>
      <mat-option *ngFor="let engineer of engineers" [value]="engineer">
        {{ engineer.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="item" >
    <mat-select placeholder="Kartusche" [(value)]="selectedKartusche">
        <mat-option [value]="1">Kartusche 1</mat-option>
        <mat-option [value]="2">Kartusche 2</mat-option>
        <mat-option [value]="3">Kartusche 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="item" >
      <div class="row-container">
      <input matInput [matDatepicker]="picker" date="true" time="true" placeholder="Choose a date" [(ngModel)]="myDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <input class="timepicker"atp-time-picker [(ngModel)]="timevalue"/>
      </div>

  </mat-form-field>
  <button mat-raised-button class="buttonRaised" color="primary" *ngIf="selected" (click)="doMail(selected)">Kartusche wechseln</button>
</div>

  <div class="mainContainer ">
    <div class="row-container fullwidth">
      <div class="column-container">
        <div class="item colorborder">Schmierzeitpunkte</div>
        <div class="item colorborder">
          <div class="tableContainer">
            <div class="rowItem">
              <div class="titleBar">Kartusche X</div>
              <div *ngIf="resultDataX" class="contentBar">{{resultDataX}}</div>
            </div>

            <div class="rowItem">
              <div class="titleBar">Kartusche Y</div>
              <div *ngIf="resultDataY" class="contentBar">{{resultDataY}}</div>
            </div>

            <div class="rowItem">
              <div class="titleBar">Kartusche R</div>
              <div *ngIf="resultDataR" class="contentBar">{{resultDataR}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-container">
          <div class="item colorborder">Füllstand über die Zeit</div>
          <div class="item colorborder"><mainview class="main"></mainview></div>
      </div>
      <div class="column-container">
          <div class="item colorborder">Füllstand</div>
          <div class="gaugeContainer">
            <app-s-gauge class="gauge-item"></app-s-gauge>
            <app-s-gauge class="gauge-item"></app-s-gauge>
            <app-s-gauge class="gauge-item"></app-s-gauge>
          </div>
      </div>
    </div>


  </div>


